.about {
    background-color: #f8f9fa;
    padding: 4rem 2rem;
    text-align: center;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #007BFF;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #242424;
}
