.header {
    /* background: url('') no-repeat center center/cover; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-content {
    z-index: 2;
    max-width: 800px;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.header p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.header-button {
    padding: 0.75rem 1.5rem;
    background-color: #FFD700;
    color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: #FFB600;
}
